html, body, .wrapper {
    height: 100%;
}
@font-face {
    font-family: 'ITC Avant Garde Pro Bk';
    src: url('../fonts/ITCAvantGardePro-Bk.eot');
    src: url('../fonts/ITCAvantGardePro-Bk.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ITCAvantGardePro-Bk.woff2') format('woff2'),
        url('../fonts/ITCAvantGardePro-Bk.woff') format('woff'),
        url('../fonts/ITCAvantGardePro-Bk.ttf') format('truetype'),
        url('../fonts/ITCAvantGardePro-Bk.svg#ITCAvantGardePro-Bk') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ITC Avant Garde Pro Md';
    src: url('../fonts/ITCAvantGardePro-Md.eot');
    src: url('../fonts/ITCAvantGardePro-Md.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ITCAvantGardePro-Md.woff2') format('woff2'),
        url('../fonts/ITCAvantGardePro-Md.woff') format('woff'),
        url('../fonts/ITCAvantGardePro-Md.ttf') format('truetype'),
        url('../fonts/ITCAvantGardePro-Md.svg#ITCAvantGardePro-Md') format('svg');
    font-weight: 500;
    font-style: normal;
}

body {
    font-size: 14px;
    font-family: "ITC Avant Garde Pro Bk", "arial" !important;
}

.avant-md {
    font-family: "ITC Avant Garde Pro Md", "arial";
}

.color-000 {
    color: #000;
}

.color-111 {
    color: #111;
}

.color-222 {
    color: #222;
}

.color-333 {
    color: #333!important;
}

.color-444 {
    color: #444;
}

.color-555 {
    color: #555;
}

.color-666 {
    color: #666;
}

.color-777 {
    color: #777;
}

.color-888 {
    color: #888;
}

.color-999 {
    color: #999;
}

.pointer {
    cursor: pointer;
}

input[type=file] {
    position: absolute;
    left:0;
    top:0;
    opacity:0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

::-webkit-file-upload-button {
    cursor: pointer;
}

.close-icon
{
    cursor: pointer;
}

.visibility-hidden {
    visibility: hidden;
}

.form-control-lg {
    height: calc(1.5em + 1rem + 10px);
    font-size: 14px;
}

.side-panel {
    width: 214px;
    background-color: #21232f;
    float: left;
    height: 100%;
    position: fixed;
}

#collapsibleNavbar ul li {
    color: white;
    font-size: 14px;
}

.side-menu {
    height: calc(100vh - 80px);
    width: 100%;
}

.side-menu nav {
    width: 100%;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 25px;
    border: none;
}

a:link, a:visited, a:hover, a:visited {
    outline: none;
}

.nav > li > a, .nav > li > a:focus, .nav > li > a:hover {
    border: none;
}

a:hover {

    text-decoration: none;
}

.btn:hover {
    /*color: white;*/
}

.add-control {
    cursor: pointer;
}

.remove-control {
    cursor: pointer;
}

#collapsibleNavbar ul li {
    width: 100%;
    font-size: 14px;
}

.file_name {
    width: 82%;
    height: 100%;
    top: 0;
    z-index: 0;
    left: 0;
}

.controls {
    width: 45px;
    height: 45px;
    float: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    /* vertical-align: middle; */
}

.services-control {
    display: flex;
    align-items: center;
}


.add-control{
    color: #fd4f0a !important;
    font-weight: 600;
}
.add-control i{
    margin-right: 4px;
}

.custom-country-selectbox {
    cursor: pointer;
    width: 80px;
    height: 100%;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}

#mobile {
    padding-left: 100px;
}

.upload-file {
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    position: absolute;
    top: 0px;
}
.flag-upload-file {
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    position: absolute;
    top: 0px;
}

.flag_file_name, .file_name {
    padding: 12px;
}

.upload_btn {
    z-index: 1;
    top: 0;
    right: 0;
    width: 70px;
    height: 100%;
}
.progress {
    z-index: 1;
    top: 36%;
    right: 11%;
    width: 28%;
    height: 13px;
    font-size: 11px;
}
.progress-bar-animate {
    background-color: #6dd873;
}
.circlechart{
    background: rgba(0,0,0,0.6);
}
.circlechart canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 48px !important;
    height: 48px !important;
}

.upload_btn img{
    margin-top: 10px;
    height: 22px;
}
.heading{
    font-size: 18px;
    color: #202020;
    text-transform: capitalize;
    font-weight: 600;
}
.play-icon
{
    width: 45px;
    height: 30px;
}
.text-decoration-underline
{
    text-decoration: underline;
}
.submit-btn,.submit-btn:hover {
    background-color: #20437b;
    color: white;
}
.upload-div{

}
#collapsibleNavbar ul li:hover, #collapsibleNavbar ul li.active {
    background-color: #112f60;
    cursor: pointer;
}

.side-panel ul > li > a {
    color: white;
    padding: 15px 30px;
    display: block;
    text-decoration: none;
}

#collapsibleNavbar ul li {
    width: 100%;
}

.custom-collapse i {
    transition: 0.5s ease-in-out all;
}

.custom-collapse.custom-collapse-open i {
    transform: rotate(90deg);
    transition: 0.5s ease-in-out all;
}

.logo {
    height: 90px;
    background: #fff;
}
.circle{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-icon i{
font-size: 13px;
}
.image-preview-wrapper .fa-times:before{
    font-size: 10px !important;
}

.logo-image {
    max-width: 70px;
}
.no-border {
    border-bottom: none !important;
}
.booking-details tr td{
    border-bottom: solid 1px #bdbdbd !important;
}
#tourOperatorList tr td
{
    cursor: pointer;
}


.booking-details thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #bdbdbd !important;
    font-weight: bold;
}
.booking-details{
    border: solid 1px #bdbdbd !important;
    border-top: solid 1px #bdbdbd !important;
}

.navbar-brand {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    /* margin: 0 auto; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.main-container {
    margin: 17px;
    /*  background-color: white;*/
    margin-top: 100px;
    min-height: calc(100% - 130px);
}

.navbar {
    width: 100%;
    top: 0;
    z-index: 2;
}

.image-upload-wrapper {
    border-radius: 0.25rem;
    overflow: auto;
    margin-bottom: 15px;
    border: solid 1px #cdcdcd;
    height: 47px;
}

.image-upload {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: 1;
}

.table thead th {
    color: white;
    background-color: #1f437b;
}

.custom-table-width {
    max-width: 150px;
    width: 150px;
}

.image-preview-wrapper {
    width: 100%;
    top: 0px;
}

.side-panel {
    width: 214px;
    background-color: #20437b;
    float: left;
    height: 100%;
    position: fixed;
}

.admin_profile
{
    width: 45px;
    height: 45px;
    background: url(../img/default_user_profile.svg) no-repeat center;
    border: solid 1px #dedede;
    padding: 24px;
}

.delete-conform-button
{
    background-color: #DD4A68;
    color: white;
}

.delete-place
{
    cursor: pointer;
}

.table thead th
{
    vertical-align: middle;
    white-space: nowrap;
}

#bookingListtable th {
    white-space: nowrap;
    min-width: 180px;
}

#bookingListtable th:first-child {
    min-width: auto;
}
#extTable th {
    white-space: nowrap;
    min-width: 180px;
}

#extTable th:first-child {
    min-width: auto;
}
#extTable .mw{
    min-width: auto;
}
#listPager li .custom-page-link{
    background: #e5e5e5;
    border: 1px solid #a3a3a3;
    margin: 0 3px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.custom-page-link:hover{
    background: #112f60 !important;
    color: white;
    font-weight: bold;
}
.action-icon {
    margin-right: 5px;
    background: #fff;
    border: 1px solid #c9c8ca;
    border-radius: 50%;
    width:30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-icon img {
    max-width: 12px;
}

.table thead th:first-child, .table tbody tr td:first-child {
    /*width: 180px;*/
}
.page-item.active .custom-page-link.current
{
    background: #112f60 !important;
    color: white;
}
#table input[type="text"]{
    font-size: 14px;
}
#table th{
    font-weight: 300 !important;
}
.custom-thead .arrows
{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.search
{
    background-color: transparent;
}
/*.select
{
    -webkit-appearance:none;
    -moz-appearance: none;
    appearance:none;
}*/
.page-link
{
    cursor: pointer;
}
.search:focus {
    background-color: #112f60;
}

.search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
    text-transform: capitalize !important;
}

.search:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
    text-transform: capitalize !important;
}

.search::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
    text-transform: capitalize !important;

}
.main-panel .navbar {
    height: 80px;
    box-shadow: 1px 2px 1px rgba(32, 67, 123,0.11);
}

.uploadbox {
    width:calc(100% - 123px);
    border-bottom: 1px solid #dee2e6;
}

@media only screen and (min-width: 1711px) {
    .main-panel .navbar {
        height: 80px;
        box-shadow: 1px 2px 1px rgba(32, 67, 123,0.11);
    }
}

.z-index-1 {
    z-index: 1;
}

@media only screen and (min-width: 1711px) {
    .logo {
        height: 80px;
    }

    .main-panel .navbar {
        height: 80px;
    }
}

.feedback-section {
    height: 0;
    position: fixed;
    bottom: 0 !important;
    background-color: #20437b;
    color: white;
    text-align: center;
    width: 100%;
    left: 0;
    z-index: 9999;
}

/*#description {
    height: 200px;
}*/

.main-heading {
    font-size: 18px;
    color: #202020;
    text-transform: capitalize;
    font-weight: 600;
    /*padding-left: 14px;*/
}

.main-heading i{
    color: #202020;
}
.adding-form1 input[type="text"]{
    border: solid 1px #cdcdcd !important;
    height: 47px;
    width: 160px;
    font-size: 15px;
}
.selectize-input.items {
    margin-bottom: 14px !important;
    border: solid 1px #cdcdcd !important;
    height: 47px;
    background: #fff !important;
    padding: 0 12px;
}
.selectize-input.items > div{
    height: 47px;
    line-height: 47px;
}
.selectize-input.items input[type="text"]{
    border: none !important;
}
.adding-form select,.adding-form input[type="text"],.select2-selection{
    margin-bottom: 14px;
    border: solid 1px #cdcdcd !important;
    height: 47px;

}
.adding-form select#country{
    margin-bottom: 14px;
    border: solid 1px #cdcdcd !important;
    height: 47px !important;
}
.sol-input-container input[type="text"]{
    border: none !important;
}
.m-67{
    margin-top: 43px;
}
#recordsList i.fa.fa-trash.delete-place{
    margin-right: 5px;
    background: #fff;
    border: 1px solid #c9c8ca;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.upload-div {
    border-radius: 0.25rem;
    margin-bottom: 15px;
    border: solid 1px #cdcdcd;
    height: 47px;
    width: 100%;
}
.adding-form textarea{
    margin-bottom: 15px;
    border: solid 1px #cdcdcd;
    height: 130px;
}

.adding-form label{
    color: #333333 !important;
}
.logout-text a {
    font-size: 13px;
    color: #e10c0c;
}

.feedback-section span:nth-child(1) {
    line-height: 70px;
    font-size: 17px;
}

.logout-text {
    font-size: 14px;
}

.add-btn,.add-btn:hover{
    background-color: #1f437b;
    color: white;
    font-size: 14px;
    padding: 8px 19px;
    border-radius: 0;
}

.booking-price-text {
    display: inline-block;
    min-width: 80px;
    color: #999;
}

.custom-radius {

    border: solid 1px #cacaca !important;
}

.checkbox-custom, .radio-custom {
    padding-left:30px;
}

/* Hide the browser's default radio button */
.checkbox-custom input, .radio-custom input
{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
}

/* Create a custom checkbox button */
.checkbox-custom .checkmark
{
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background: #fff;
    border: 1px solid #a6a7a7;
    border-radius: 5px;
}
.sol-label .checkmark
{
    top: 2px;
    left: 1px;
}
.sol-selection
{
    padding: 12px;
    height: 200px;
}
.sol-container.sol-active .sol-selection-container
{
    position: absolute;
    left: 0!important;
    top: 100%!important;
}
.sol-label-text
{
    padding-left: 0px;
}
.sol-inner-container
{
    height: 47px;
}
.radio-custom .checkmark
{
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background: #fff;
    border: 1px solid #a6a7a7;
    border-radius: 50%;
}
.sol-caret-container .sol-caret {
    top: 8px;
}

/* On mouse-over, add a grey background color */
.checkbox-custom:hover input ~ .checkmark {
    /*    background-color: #ccc;*/
}

/* When the checkbox button is checked */
.checkbox-custom input:checked ~ .checkmark {
    background-color: #20437b;
    border: 1px solid #20437b;
}

.radio-custom input:checked ~ .checkmark {
    border: 1px solid #20437b;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.checkbox-custom input:checked ~ .checkmark:after, .radio-custom input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.checkbox-custom .checkmark:after {
    top: calc(50% - -1px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    width: 12px;
    height: 6px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    background: transparent;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-animation: checkAnimation .2s;
    animation: checkAnimation .2s;
}

.radio-custom .checkmark:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #20437b;
    border: 2px solid #20437b;
    transition: .2s all;
}
.upload-image {
    height: 200px;
}
#blah {
    width: 60px;
    opacity: 0.5;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.upload-image > input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
}

.banner-imagebox {
    position: relative;
    height: 300px;
}

.banner-imagebox .deletebanner {
    position: absolute;
    content: '';
    top: 15px;
    right: 15px;
}

.banner-imagebox .deletebanner .deleteIcon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 25px;
    height: 25px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #999;
    color: #fff;
}

@-webkit-keyframes checkAnimation {
    0% {
        height:0;
        width:0
    }
    50% {
        height:6px;
        width:0
    }
    to {
        height:6px;
        width:12px
    }
}
@keyframes checkAnimation {
    0% {
        height:0;
        width:0
    }
    50% {
        height:6px;
        width:0
    }
    to {
        height:6px;
        width:12px
    }
}

.custom-checkbox-list label {
    cursor: pointer;
}
.tags-container ul
{
    list-style: none;
    padding: 0;
}
.tag-selected
{
    background-color: transparent;
    border: 1px solid #c9c8ca;
    border-radius: 25px;
    cursor: default;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px 15px;
}
.destroy-tag-selected
{
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-left: 10px;
}
.select2-selection__choice
{
    display: none;
}
.table-bordered td, .table-bordered th {
    border: 0 solid #dee2e6 !important;
}

.table td, .table th {
    vertical-align: middle;
}

.status-btn button {
    font-size: 14px;
}

.view-certificate {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    font-size: 12px;
    background: #e2e2e2;
    padding: 10px 15px;
}

@media only screen and (max-width: 1710px) {
    .nav > li > a {
        position: relative;
        display: block;
        padding: 10px 15px;
    }

    .nav > li > a {
        padding: 10px 20px;
    }

    .logo {
        height: 80px;
        background: #fff;
    }

    .main-panel .navbar {
        height: 80px;
        box-shadow: 1px 2px 1px rgba(32, 67, 123,0.11);
    }
}

@media only screen and (max-width: 991px) {
}

@media only screen and (min-width: 768px) {
    .status-btn {
        margin-top: 70px;
    }
}
.under-construction {
    font-size: 24px;
    font-weight: bold;
    color: #dc3545; /* Bootstrap's danger color */
}