@font-face {
    font-family: 'ITC Avant Garde Pro Bk';
    src: url('../fonts/ITCAvantGardePro-Bk.eot');
    src: url('../fonts/ITCAvantGardePro-Bk.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ITCAvantGardePro-Bk.woff2') format('woff2'),
        url('../fonts/ITCAvantGardePro-Bk.woff') format('woff'),
        url('../fonts/ITCAvantGardePro-Bk.ttf') format('truetype'),
        url('../fonts/ITCAvantGardePro-Bk.svg#ITCAvantGardePro-Bk') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ITC Avant Garde Pro Md';
    src: url('../fonts/ITCAvantGardePro-Md.eot');
    src: url('../fonts/ITCAvantGardePro-Md.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ITCAvantGardePro-Md.woff2') format('woff2'),
        url('../fonts/ITCAvantGardePro-Md.woff') format('woff'),
        url('../fonts/ITCAvantGardePro-Md.ttf') format('truetype'),
        url('../fonts/ITCAvantGardePro-Md.svg#ITCAvantGardePro-Md') format('svg');
    font-weight: 500;
    font-style: normal;
}
.red a{
    color: #ec5569;
    font-size: 14px;
    text-transform: capitalize;
}
.feedback-section {
    height: 0;
    position: fixed;
    bottom: 0 !important;
    background-color: #20437b;
    color: white;
    text-align: center;
    width: 100%;
    left: 0;
    z-index: 9999;
}

.feedback-section span:nth-child(1) {
    line-height: 70px;
    font-size: 17px;
}
.avant-bk {
    font-family: "ITC Avant Garde Pro Bk", "arial";
}

.avant-md {
    font-family: "ITC Avant Garde Pro Md", "arial";
}

.color-000 {
    color: #000;
}

.color-111 {
    color: #111;
}

.color-222 {
    color: #222;
}

.color-333 {
    color: #333!important;
}

.color-444 {
    color: #444;
}

.color-555 {
    color: #555;
}

.color-666 {
    color: #666;
}

.color-777 {
    color: #777;
}

.color-888 {
    color: #888;
}

.color-999 {
    color: #999;
}

.color-red {
    color: red;
}

.color-blue {
    color: blue;
}

a:hover {
    text-decoration: none;
}

.pointer {
    cursor: pointer;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    background: #f5f5f5;
    font-family: "ITC Avant Garde Pro Bk", "arial" !important;
}
#home-banner .owl-item{
    overflow: hidden;
    border-radius: 10px;
}
#home-banner .owl-item .backgroung-img{
    filter: blur(0);/* filter: blur(12px); */
    transition: 0.5s ease all;
}
#home-banner .owl-item.active .backgroung-img{
    filter: blur(0);
}
.navbar-toggler-icon {
    background: url('../img/user/menu.svg') no-repeat center / cover;
}

.dropdown-item {
    font-size: 12px;
}
.contact-bg{
    /*    background: url('../img/user/contactus.jpg') no-repeat center/cover;*/
}
.contactus-text {
    position: absolute;
    content: '';
    padding: 15px;
    bottom: 0;
    color: #333;
    background: rgba(255,255,255,0.5);
    margin: 20px;
}
.navbar-shadow {
    box-shadow: 0 0 7px rgba(0,0,0,0.1);
}
#world-tour-slider,#india-tour-slider,#spiritual-tour-slider,#acknowledgements-slider{
    position: relative;
}
#world-tour-slider:after,#india-tour-slider:after,#spiritual-tour-slider:after{
    position: absolute;
    content: '';
    right: 0;
    height: 247px;
    width: 200px;
    top: 0;
}
/*#acknowledgements-slider:after{
    position: absolute;
    content: '';
    right: 0;
    background: rgba(237,237,237,0);
    background: -moz-linear-gradient(left, rgba(237,237,237,0) 0%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(237,237,237,0)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(left, rgba(237,237,237,0) 0%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(left, rgba(237,237,237,0) 0%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(left, rgba(237,237,237,0) 0%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to right, rgba(237,237,237,0) 0%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ededed', GradientType=1 );
    height: 100%;
    width: 160px;
    top: 0;
}*/


.navbar-collapse ul li, .navbar-collapse ul li .btn {
    font-size: 13px;
    text-transform: uppercase;
    padding: 10px 20px;
    white-space: nowrap;
}

.navbar-collapse ul li a {
    color: #333;
}

.navbar-collapse ul li a.contributor-link {
        padding: 13px 20px;
    font-style: italic;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 14px;
}

.btn-outline-0:focus, .btn-outline-0:hover {
    box-shadow: none;
}

#banner-carousel .owl-nav {
    margin: 0;
    position: absolute;
    width: 100%;
    top: calc(50% - 20px);
}

#banner-carousel .owl-nav .owl-prev {
    position: absolute;
    left: 30px;
}

#banner-carousel .owl-nav .owl-next {
    position: absolute;
    right: 30px;
}

#banner-carousel .owl-nav .owl-prev, #banner-carousel .owl-nav .owl-next {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    background: rgba(0,0,0,0.9);
    outline: none;
    transition: 0.3s ease all;
}

#banner-carousel .owl-nav .owl-prev:hover, #banner-carousel .owl-nav .owl-next:hover {
    background: rgba(0,0,0,0.7);
    transition: 0.3s ease all;
}

.banner-fluid {
    background: #ededed;
    position: relative;
}
.banner-fluid .owl-nav{
    position:absolute;
    top: 50%;
    width: 100%;
}
.banner-fluid .owl-nav .owl-next{
    background: #000!important;
    width: 30px;
    height: 30px;
    color: #fff!important;
    right: 14px;
    position: absolute;
    border-radius: 50%;
    outline: none;
}
.banner-fluid .owl-nav .owl-prev{
    background: #000 !important;
    width: 30px;
    height: 30px;
    color: #fff!important;
    left: 14px;
    position: absolute;
    border-radius: 50%;
    outline: none;
}


.banner-carousel-image {
    border-radius: 10px;
    overflow: hidden;
}
marquee{
    color:#ffffff;
}
.promotion-fluid {
    background: #304379 url('../img/user/shape.png');
}

.promotion-text {
    font-size: 18px;
}

.bg-footer {
    background: #1c1e2a;
}

.footer-section {
    border: 1px solid rgba(255,255,255,0.12);
    border-left: none;
    border-right: none;
}

.footer-links li a {
    color: #fff;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding-right: 15px;
    line-height: 1.2;
}

.footer-links li a:after {
    position: absolute;
    content: '';
    width: 1px;
    height: 100%;
    background: #fff;
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
}

.social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.social-icon svg {
    font-size: 18px!important;
    color: #fff;
}

.icon-facebook {
    background: #3b5998;
}

.icon-twitter {
    background: #55acee;
}

.icon-youtube {
    background: red;
}

.mission-fluid {
    min-height: 480px;
    background: #fff url('../img/user//bg-image.png') no-repeat right bottom / contain;
}

.mission-text {
    font-size: 36px;
    font-weight: 500;
    font-family: 'ITC Avant Garde Pro Md';
}

.mission-caption {
    font-size: 22px;
}

.more-link {
    padding: 15px;
    background: #304378;
}

.more-link:after {
    position: absolute;
    content: '';
    border: 1px solid #304378;
    width: 100%;
    height: 100%;
    bottom: -5px;
    right: -5px;
    transition: 0.3s ease;
    transition-origin: bottom right;
}

.more-link:hover:after {
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    transition: 0.3s ease;
    transition-origin: bottom right; 
}

.hear-headding, .tour-headding {
    font-size: 23px;
}

.hear-text {
    border-radius: 10px;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.05);
}
.hear-headding1{
    font-size: 18px;
}
.whathear-box {
    background-color: #f0dbaf;
    color: #000;
    /* min-height: 482px; */
}

.whyhear-box {
    background-color: #eed9c4;
    color: #000;
    /* min-height: 482px; 
    height:90%;*/
}

.wherehear-box {
    background-color: #ff7a7f;
    color: #000;
    /* min-height: 482px;
    height:90%; */
}
.opp-box{
    background-color:#ffd9e1;
    color: #000;
}
.howhear-box {
    background-color: #c5e4e2;
    color: #000;
    /* min-height: 482px; 
    height:90%; */
}
.touroperator-box {
    background-color: #b0daec;
    color: #000;
    min-height: 482px;
    height:90%;
}
@media only screen and (max-width: 768px){
    .touroperator-box, .whyhear-box, .howhear-box{
        min-height: unset;
        height:unset;
    }
}
#acknowledgements-slider .slider-box{
    height: 210px;
}
.slider-box {
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.05);
    line-height: 23px;
}

.slider-image {
    border-radius: 10px;
    background: #999;
    padding-bottom: 59%;
}

.footer-links li:last-child a:after{
    display:none;
}
.slider-image img {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
}

.bookings {
    position: absolute;
    padding: 7px 10px;
    right: -5px;
    top: 15px;
    z-index: 1;
    background: #3389d7;
}

.bookings:after {
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    background: #1c1e2a;
    bottom: -9px;
    right: -4px;
    z-index: 0;
    clip-path: polygon(37% 37%, 80% 40%, 40% 78%, 29% 43%);
}

.tour-country-flag {
    min-width: 52px;
    height: 52px;
    border-radius: 50%;
}

.tour-country {
    font-size: 18px;
}

.border-radius-10 {
    border-radius: 10px;
}

.custom-shadow {
    box-shadow: 0px 2px 3px rgba(0,0,0,0.05);
}

.font-20 {
    font-size: 20px;
}

.font-22 {
    font-size: 22px;
}
.font-24 {
    font-size: 21px;
}
.india-tour-image {
    width: 164px;
    height: 146px;;
}
.breadcrumb{
    text-transform: capitalize;
}
.avi_lan{
    background: #4862a7;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    position: absolute;
    right: 12px;
    bottom: 32px;
}

.india-tour-bookings {
    color: #3389d7;
}

.language-box {
    display: inline-block;
    margin: 0 8px 8px 0;
    padding: 6px 11px;
    text-transform: capitalize;
    border-radius: 20px;
    border: 1px solid #9b9b9b;
}

.acknowledgements-logo {
    min-height: 63px;
}

.aboutus-banner {
    height: 338px;
    background: #ffffff url('../img/user/aboutus-banner.png') no-repeat top right;
}
.credits-banner {
    height: 338px;
    background: #ffffff url('../img/user/credits-bg.png') no-repeat top right;
}

.contributor-banner{
    height: 338px;
    background: #ffffff url('../img/user/contributor.png') no-repeat right;
}

.help-banner{
    height: 338px;
    background: #ffffff url('../img/user/help.png') no-repeat right;
}
.tours-banner {
    height: 338px;
    background: #ffffff url('../img/user/tours-banner.png') no-repeat right top;
}

.faqs-banner {
    height: 338px;
    background: #ffffff url('../img/user/faqs-banner.png') no-repeat right top;
}

.contactus-banner {
    height: 338px;
    background: #ffffff url('../img/user/contactus-banner.png') no-repeat right top;
}

.privacy-container ol { counter-reset: item }
.privacy-container li { display: block }
.privacy-container li:before { content: counters(item, ".") "."; counter-increment: item;  }

.help-container ol { counter-reset: item }
.help-container li { display: block }
.help-container li:before { content: counters(item, ".") "."; counter-increment: item;  }
.terms_list li{
    margin-bottom: 10px;
}

.tale_category ul li:before{
    content: none !important;
    counter-increment: inherit !important;

}

.accordion-headding[aria-expanded="true"] .fa-angle-down {
    transform: rotate(180deg);
    top: 4px;
    position: relative;
    float: right;
}

.accordion-headding .fa-angle-down {
    transform: rotate(0deg);
    top: 4px;
    position: relative;
    float: right;
}


.bullet-points li{
    padding-left: 12px;
    list-style: none;
    line-height: 24px;
    position: relative;
    font-size: 14px;
}
.bullet-points li:after{
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    background: #333;
    left: 0;
    top: 10px;
}


.user-page-name {
    font-size: 36px;
    color: #37529a;
}

.personal-tour-img {
    height: 250px;
}

.seasonal-tour-img {
    height: 300px;
}

.accordion-headding {
    font-size: 16px;
}

.accordion-headding.collapsed{

}
.accordion-headding i{
transform: rotate(180deg);
}
.accordion>.card:first-of-type, .accordion>.card:not(:first-of-type):not(:last-of-type), .accordion>.card:last-of-type {
    border-radius: 10px;
}

.form-control-lg {
    font-size: 14px;
}

.submit-btn {
    background: #4862a8;
    border-radius: 10px;
}

.address {
    font-size: 16px;
}

.help-container h5 {
    color: #4862a8;
    font-family: "ITC Avant Garde Pro Md", "arial";
}
#navbarTogglerDemo02 ul li a{
    position: relative;
}
#navbarTogglerDemo02 ul li a.active{
    color: #4862a7;
    font-weight: 600;
}
#navbarTogglerDemo02 ul li a.active:after{
    background: #4862a7;
    width: 100%;
    height: 1px;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
}

.blue{
    color: #37529a;
}

#india-tour-slider .p-3{
display:flex;
height:78px;
}


@media only screen and (min-width: 768px) {
    .navbar-collapse ul li, .navbar-collapse ul li .btn {
        padding: 0;
    }

    .navbar-collapse ul li a, .navbar-collapse ul li .btn {
        padding: 10px;
        margin: 0 10px;
    }

    .navbar-collapse ul li .dropdown-item {
        margin: 0;
    }

    .w-md-50 {
        width: 50%;
    }

    .contactus-text {
        font-size: 18px;
    }
}

@media only screen and (min-width: 1200px) {
}
@media only screen and (max-width: 1600px) {
    .tour-country {
        font-size: 15px;
        /*text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;*/
    }
}

@media only screen and (max-width: 767px) {
    .navbar-brand {
        max-width: 256px;
    }
    #world-tour-slider:after,#india-tour-slider:after,#spiritual-tour-slider:after,#acknowledgements-slider:after{
        display: none;
    }

    .mission-fluid {
        background-image: none;
    }

    .mission-text {
        font-size: 22px;
    }

    .mission-caption {
        font-size: 18px;
    }

    .font-22 {
        font-size: 18px;
    }

    .india-tour-image {
        width: 100%;
    }

    .user-page-name {
        font-size: 24px;
		display:none;
    }

    .seasonal-tour-img {
        height: 200px;
    }

    .aboutus-banner{
        height: 165px;
		background: #ffffff url(../img/user/about-us-mobile.jpg) no-repeat top right;
    }
	.tours-banner{
		height: 165px;
		background: #ffffff url(../img/user/tours-banner-mobile.jpg) no-repeat top right;
	}	
	.faqs-banner{
		height: 165px;
		background: #ffffff url(../img/user/faq-mobile.jpg) no-repeat top right;
	}
 
	.contactus-banner{
		height: 165px;
		background: #ffffff url(../img/user/about-us-mobile.jpg) no-repeat top right;
	}
 
	.credits-banner{
		height: 165px;
		background: #ffffff url(../img/user/credits-bg-mobile.jpg) no-repeat top right;
	}
	
	.help-banner {
    height: 165px;
    background: #ffffff url(../img/user/help-mobile.jpg) no-repeat right;
}
.contributor-banner {
    height: 165px;
    background: #ffffff url(../img/user/contributor-mobile.jpg) no-repeat right;
}
.navbar-collapse ul li a.contributor-link {
    padding:0 0;
}

    .privacy-container ol {
        padding: 0;
    }
	
}

@media only screen and (max-width: 575px) {
    .contactus-text {
        position: unset;
        margin: 0;
    }
}
.tour-silder .owl-nav
{
    position: absolute;
    top: 30%;
    width: 100%;
    display: flex;
    z-index: 999;
}
#india-tour-slider .owl-nav
{
    position: absolute;
    top: 38%;
    width: 100%;
    display: flex;
    z-index: 999;
}
.tour-silder .owl-prev{
    background: #000!important;
    width: 30px;
    height: 30px;
    color: #fff!important;
    left: 14px;
    position: absolute;
    border-radius: 50%;
    outline: none;
}

.tour-silder .owl-next{
    background: #000!important;
    width: 30px;
    height: 30px;
    color: #fff!important;
    right: 14px;
    position: absolute;
    border-radius: 50%;
    outline: none;
}
.tour-row-title{
    height:60px;border-radius:0 0 10px 10px;background-color:#fff;
}
.tour-row-img{
    height:220px;border-radius:10px 10px 0 0;
}
@media only screen and (max-width: 1200px) and (min-width: 768px){
    .tour-row-img{
        height:150px;border-radius:5px 5px 0 0;
    }
    .tour-row-title{
        height:50px;border-radius:0 0 5px 5px;background-color:#fff;
    }
}
@media only screen and (max-width: 768px){
    .tour-row-img{
        height:200px;border-radius:5px 5px 0 0;
    }
    .tour-row-title{
        height:50px;border-radius:0 0 5px 5px;background-color:#fff;
    }
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background-color: unset !important;
    border-color: #dee2e6 #dee2e6 #f5f5f5 !important;
}
audio{
    position: absolute;
    bottom: 0.1em;
    left: 0;
    width: 100%;
    height: 25px;
}
.adtxt{
    position: absolute;
    top: 0.1em;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: #000;
    color: #fff;
    opacity: 0.5;
}
.ad{
    height:145px;
    background-repeat: no-repeat;
    background-size: 100% 150px;
    margin-bottom: 0.5em;
}
.adlbg1{
    background-image: url("../img/hmpics/ARAB-WT-80-1-6-SMALL.jpeg") ;
}
.adlbg2{
    background-image: url("../img/hmpics/BEN-CT-0-3-3-SMALL.jpeg") ;
}
.adlbg3{
    background-image: url("../img/hmpics/GUJ-ST-1-1-3-SMALL.jpeg") ;
}
.adlbg4{
    background-image: url("../img/hmpics/KAN-FT-0-3-8-SMALL.jpeg") ;
}
.adlbg5{
    background-image: url("../img/hmpics/KOR-CT-0-2-1A-SMALL.jpeg") ;
}
.adlbg6{
    background-image: url("../img/hmpics/MAL-WT-64-0-0-SMALL.jpeg") ;
}
.adlbg7{
    background-image: url("../img/hmpics/MAR-WT-78-3-1-SMALL.jpeg") ;
}
.adlbg8{
    background-image: url("../img/hmpics/ODI-CT-0-24-9-SMALL.jpeg") ;
}
.adlbg9{
    background-image: url("../img/hmpics/PUN-WT-1-1-3-SMALL.jpeg") ;
}
.adlbg10{
    background-image: url("../img/hmpics/SIN-WT-78-0-8-SMALL.jpeg") ;
}
.adlbg11{
    background-image: url("../img/hmpics/TAM-WT-2-1-2-SMALL.jpeg") ;
}
.adlbg12{
    background-image: url("../img/hmpics/TEL-ST-11-2-3-SMALL.jpeg") ;
}
.adlbg13{
    background-image: url("../img/hmpics/URD-CT-0-8-1-SMALL.jpeg") ;
}
.adrbg1{
    background-image: url("../img/hmpics/ENG-ST-1-1-1A-SMALL.jpeg") ;
}
.adrbg2{
    background-image: url("../img/hmpics/HIN-ST-14-1-1A-SMALL.jpeg") ;
}
.adrbg3{
    background-image: url("../img/hmpics/ENG-CT-0-1-0-SMALL.jpeg") ;
}
.adrbg4{
    background-image: url("../img/hmpics/HIN-CT-0-21-0-SMALL.jpeg") ;
}
.adrbg5{
    background-image: url("../img/hmpics/ENG-SS-0-1-4-SMALL.jpeg") ;
}
.adrbg6{
    background-image: url("../img/hmpics/HIN-CT-0-5-1-SMALL.jpeg") ;
}
.adrbg7{
    background-image: url("../img/hmpics/ENG-WT-10-0-0A-SMALL.jpeg") ;
}
.adrbg8{
    background-image: url("../img/hmpics/HIN-WT-9-1-0-SMALL.jpeg") ;
}
.adrbg9{
    background-image: url("../img/hmpics/ENG-ST-30-6-1-SMALL.jpeg") ;
}
.adrbg10{
    background-image: url("../img/hmpics/HIN-ST-30-8-1-SMALL.jpeg") ;
}
.adrbg11{
    background-image: url("../img/hmpics/ENG-IT-10-1-7-SMALL.jpeg") ;
}
.adrbg12{
    background-image: url("../img/hmpics/HIN-IT-28-1-2A-SMALL.jpeg") ;
}
.adrbg13{
    background-image: url("../img/hmpics/ENG-WT-69-0-1-SMALL.jpeg") ;
}
