.tags-container ul
{
    list-style: none;
    padding: 0;
}
.tag-selected
{
    background-color: transparent;
    border: 1px solid #c9c8ca;
    border-radius: 25px;
    cursor: default;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px 15px;
}
.destroy-tag-selected
{
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-left: 10px;
}
.select2-selection__choice
{
    display: none;
}
.main-container
{
    background-color: white;
}